@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
	:root {
		--background: 0 7.69% 97.45%;
		--foreground: 17.14 6.8% 20.2%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 17.14 6.8% 20.2%;
		--card: 0 0% 100%;
		--card-foreground: 17.14 6.8% 20.2%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--primary: 17.14 6.8% 20.2%;
		--primary-foreground: 0 0% 98%;
		--secondary: 200 14.29% 95.88%;
		--secondary-foreground: 17.14 6.8% 20.2%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 17.14 6.8% 20.2%;
		--destructive: 0 90.6% 70.78%;
		--destructive-foreground: 0 0% 98%;
		--ring: 17.14 6.8% 20.2%;
		--radius: 1.5rem;
	}

	.dark {
		--background: 17.14 0% 10.77%;
		--foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--primary: 0 7.69% 97.45%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 17.14 6.8% 20.2%;
		--secondary-foreground: 0 7.69% 97.45%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 84.59% 65.05%;
		--destructive-foreground: 0 0% 98%;
		--ring: 240 4.9% 83.9%;
	}
}


@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}


html {
	scroll-behavior: smooth;
}